.fitness-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}



.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 30px;
}

.details-container {
    background-color: rgba(59, 57, 53, 0.3);

}

.questionAns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 30px;
}

@media screen and (max-width:1100px) {
    .activity-container {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width:768px) {
    .fitness-container {

        grid-template-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .activity-container {

        grid-template-columns: repeat(1, 1fr);
        margin-left: auto;
        margin-right: auto;

    }

    .questionAns-container {

        grid-template-columns: repeat(1, 1fr);

    }
}